<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

  <%= form_with(model: [@category, @product ], local: true) do |form| %>
    <%= form.hidden_field :category_id, value: @category.id %>
    <%= form.text_field :name %> <br>
    <%= form.text_field :price %> <br>
    <%= form.submit 'Create Product'%>
  <% end %>
  <%= link_to 'Edit', edit_category_path(@category) %> |
  <%= link_to 'Back', categories_path %>
<% @category.product.each do |product| %>
<%= product.name %>
<%= product.price %>
<% end %>
